<table *ngIf="datePicker.datepickerMode==='day'" role="grid" [attr.aria-labelledby]="datePicker.uniqueId+'-title'"
       class="table-condensed">
  <thead>
  <tr>
    <th (click)="datePicker.move(-1)">
      &lt;
    </th>
    <th [attr.colspan]="5" [id]="datePicker.uniqueId + '-title'" (click)="datePicker.toggleMode()"
        [attr.disabled]="datePicker.datepickerMode === datePicker.maxMode"
        [ngClass]="{disabled: datePicker.datepickerMode === datePicker.maxMode}" tabindex="-1">
      <strong>{{title}}</strong>
    </th>
    <th (click)="datePicker.move(1)">
      &gt;
    </th>
  </tr>
  <tr *ngIf="datePicker.showWeeks">
    <th *ngFor="let labelz of labels" class="dow">
      {{labelz.full}}
    </th>
  </tr>
  </thead>
  <tbody>
  <ng-template ngFor [ngForOf]="rows" let-rowz="$implicit" let-index="index">
    <tr *ngIf="!(datePicker.onlyCurrentMonth && rowz[0].secondary && rowz[6].secondary)">
      <td *ngFor="let dtz of rowz" class="day" role="gridcell" (click)="datePicker.select(dtz.date)"
          tabindex="-1" [attr.disabled]="dtz.disabled"
          [ngClass]="{'old':dtz.secondary,'active':dtz.current}">
        {{dtz.label}}
      </td>
  </ng-template>
  </tbody>
</table>
