<p>
  demo-accodion works!
</p>
<h1>Accordion</h1>
<Taccordion class="card">
  <Taccordion-item>
    <div class="card-header" accordion-heading>head</div>
    <div class="card-block" style="background-color: rebeccapurple">
      hell wor
    </div>
  </Taccordion-item>
  <Taccordion-item>
    <div class="card-header" accordion-heading>head</div>
    <div class="card-block">
      hell wor
    </div>
  </Taccordion-item>
  <Taccordion-item>
    <div class="card-header" accordion-heading>head</div>
    <div class="card-block">
      hell wor
    </div>
  </Taccordion-item>
  <Taccordion-item>
    <div class="card-header" accordion-heading>head</div>
    <div class="card-block">
      <div class="card">
        <Taccordion>
          <Taccordion-item>
            <div class="card-header" accordion-heading>head</div>
            <div class="card-block" style="background-color: rebeccapurple">
              hell wor
            </div>
          </Taccordion-item>
          <Taccordion-item>
            <div class="card-header" accordion-heading>head</div>
            <div class="card-block">
              hell wor
            </div>
          </Taccordion-item>
          <Taccordion-item>
            <div class="card-header" accordion-heading>head</div>
            <div class="card-block">
              hell wor
            </div>
          </Taccordion-item>
          <Taccordion-item>
            <div class="card-header" accordion-heading>head</div>
            <div class="card-block">
              hell wor
            </div>
          </Taccordion-item>
        </Taccordion>
      </div>
    </div>
  </Taccordion-item>
</Taccordion>
