<div class="bd-pageheader">
  <div class="container">

    <h1>Components</h1>
    <p class="lead">
      Over a dozen reusable components built to provide buttons, dropdowns, input groups, navigation, alerts, and much
      more.
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <router-outlet>
      </router-outlet>
      <h1>Toast & MessageBox</h1>
      <button class="btn" (click)="to()">toast</button>
      <button class="btn" (click)="mes()">msg</button>
      <h1>Accordion</h1>
      <div class="card">
        <Taccordion>
          <Taccordion-item>
            <div class="card-header" accordion-heading>head</div>
            <div class="card-block" style="background-color: rebeccapurple">
              hell wor
            </div>
          </Taccordion-item>
          <Taccordion-item>
            <div class="card-header" accordion-heading>head</div>
            <div class="card-block">
              hell wor
            </div>
          </Taccordion-item>
          <Taccordion-item>
            <div class="card-header" accordion-heading>head</div>
            <div class="card-block">
              hell wor
            </div>
          </Taccordion-item>
          <Taccordion-item>
            <div class="card-header" accordion-heading>head</div>
            <div class="card-block">
              <div class="card">
                <Taccordion>
                  <Taccordion-item>
                    <div class="card-header" accordion-heading>head</div>
                    <div class="card-block" style="background-color: rebeccapurple">
                      hell wor
                    </div>
                  </Taccordion-item>
                  <Taccordion-item>
                    <div class="card-header" accordion-heading>head</div>
                    <div class="card-block">
                      hell wor
                    </div>
                  </Taccordion-item>
                  <Taccordion-item>
                    <div class="card-header" accordion-heading>head</div>
                    <div class="card-block">
                      hell wor
                    </div>
                  </Taccordion-item>
                  <Taccordion-item>
                    <div class="card-header" accordion-heading>head</div>
                    <div class="card-block">
                      hell wor
                    </div>
                  </Taccordion-item>
                </Taccordion>
              </div>
            </div>
          </Taccordion-item>
        </Taccordion>
      </div>
      <div class="card" Ttabs>
        <ul class="nav-tabs nav" id="tabs1" Ttabs-headers>
          <li class="active" headers-item><a id="tab_tabs-1">主页</a></li>
          <li id="tab_tabs-2" headers-item><a>tabs2 <i class="fa fa-close" tabclose="tabs-2"></i></a>
          </li>
          <li id="tab_tabs-3" headers-item><a>tabs3 <i class="fa fa-close" tabclose="tabs-3"></i></a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tabs-1">
            <p>内容一</p>
          </div>
          <div class="tab-pane" id="tabs-2">
            <p>内容二</p>
          </div>
          <div class="tab-pane" id="tabs-3">
            <p>内容三</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="list-group">
        <a class="list-group-item " href="javascript:;" routerLink="/components/toast.html"
           routerLinkActive="active">
          Toast
        </a>
        <a class="list-group-item " href="javascript:;" routerLink="/components/messageBox.html"
           routerLinkActive="active">
          message box
        </a>
        <a class="list-group-item " href="javascript:;" routerLink="/components/confirm"
           routerLinkActive="active">
          confirm
        </a>
        <a class="list-group-item " href="javascript:;" routerLink="/components/tabs"
           routerLinkActive="active">
          tabs
        </a>
        <a class="list-group-item " href="javascript:;" routerLink="/components/sidenav"
           routerLinkActive="active">
          sidenav
        </a>
        <a class="list-group-item " href="javascript:;" routerLink="/components/timepicker"
           routerLinkActive="active">
          timepicker
        </a>
        <a class="list-group-item " href="javascript:;" routerLink="/components/collpase"
           routerLinkActive="active">
          collpase
        </a>
        <a class="list-group-item " href="javascript:;" routerLink="/components/waterfull"
           routerLinkActive="active">
          waterfull
        </a>
      </div>
    </div>
  </div>
</div>


