<div class="container">
  <div class="row">
    <div class="col-md-10">
      <router-outlet>
      </router-outlet>
    </div>

    <div class="col-md-2">
      <div class="list-group">

        <a class="list-group-item " href="javascript:;" routerLink="/components/button.html"
           routerLinkActive="active">
          button
        </a>

        <a class="list-group-item " href="javascript:;" routerLink="/components/button-group.html"
           routerLinkActive="active">
          button group
        </a>

        <a class="list-group-item " href="javascript:;" routerLink="/components/pagination.html"
           routerLinkActive="active">
          pagination
        </a>

        <a class="list-group-item " href="javascript:;" routerLink="/components/alert.html"
           routerLinkActive="active">
          alert
        </a>
        <a class="list-group-item " href="javascript:;" routerLink="/components/carousel.html"
           routerLinkActive="active">
          carousel
        </a>
        <a class="list-group-item " href="javascript:;" routerLink="/components/toast.html"
           routerLinkActive="active">
          Toast
        </a>
        <a class="list-group-item " href="javascript:;" routerLink="/components/messageBox.html"
           routerLinkActive="active">
          message box
        </a>
        <a class="list-group-item " href="javascript:;" routerLink="/components/confirm.html"
           routerLinkActive="active">
          confirm
        </a>
        <a class="list-group-item " href="javascript:;" routerLink="/components/modal.html"
           routerLinkActive="active">
          modal
        </a>
        <a class="list-group-item " href="javascript:;" routerLink="/components/tabs.html"
           routerLinkActive="active">
          tabs
        </a>
        <a class="list-group-item " href="javascript:;" routerLink="/components/sidenav.html"
           routerLinkActive="active">
          sidenav
        </a>

        <a class="list-group-item " href="javascript:;" routerLink="/components/timepicker.html"
           routerLinkActive="active">
          timepicker
        </a>
        <a class="list-group-item " href="javascript:;" routerLink="/components/collpase.html"
           routerLinkActive="active">
          collpase
        </a>
        <a class="list-group-item " href="javascript:;" routerLink="/components/waterfull.html"
           routerLinkActive="active">
          waterfull
        </a>
        <a class="list-group-item " href="javascript:;" routerLink="/components/tooltip.html"
           routerLinkActive="active">
          tooltip
        </a>

        <a class="list-group-item " href="javascript:;" routerLink="/components/accodion.html"
           routerLinkActive="active">
          accodion
        </a>
        <a class="list-group-item " href="javascript:;" routerLink="/components/dropdown.html"
           routerLinkActive="active">
          dropdown
        </a>
        <a class="list-group-item " href="javascript:;" routerLink="/components/progress.html"
           routerLinkActive="active">
          progress
        </a>
      </div>
    </div>
  </div>
</div>


