.bd-pageheader {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 3rem;
  text-align: left;
}

.bd-pageheader {
  padding: 2rem 15px;
  margin-bottom: 1.5rem;
  color: #cdbfe3;
  text-align: center;
  background-color: #563d7c;
}
.list-group, .list-group-item {
  border: none;
}
.list-group-item {
  color: #777;
  padding: 0.5rem 1.25rem;
  &.active {
    background-color: transparent;
    color: black;
  }
}
