<p>
  demo-timepicker works!
</p>
<p>
  {{timeChoose|date:'yyyy MMM dd HH:mm'}}
</p>
<div class="card">
  <div class="card-block">
    <Tdatetimepicker [(ngModel)]="timeChoose" (ngModelChange)="change($event)">
    </Tdatetimepicker>
  </div>
</div>

<div class="dropdown" Tdropdown>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" TdropdownToggle>
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <Tdatetimepicker [(ngModel)]="timeChoose" (ngModelChange)="change($event)">
    </Tdatetimepicker>
  </div>
</div>
