.bootstrap-datetimepicker-widget .table-condensed {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  thead, tbody {
    vertical-align: middle;
    border-color: inherit;
  }
  thead {
    .prev, .next, .picker-switch {
      cursor: pointer;
    }
    .picker-switch {
      width: 145px;
    }
  }
}
.bootstrap-datetimepicker-widget td span {
  display: inline-block;
  width: 20%;
  margin: 2px 1.5px;
  cursor: pointer;
  border-radius: 4px;
  &.day, &.dow {
    width: 13%;
  }
  &.day {
    &.today {
      position: relative;
    }
    &.today:before {
      content: '';
      display: inline-block;
      border-left: 7px solid transparent;
      border-bottom: 7px solid #428bca;
      border-top-color: rgba(0, 0, 0, 0.2);
      position: absolute;
      bottom: 4px;
      right: 4px;
    }
  }
}

//text-center
.bootstrap-datetimepicker-widget table thead,
.bootstrap-datetimepicker-widget tbody,
.bootstrap-datetimepicker-widget table th {
  text-align: center;
}
