<div class="message-container {{postion}}">
  <div *ngFor="let message of messages"
       class="t-message {{message.message.level}}"
       [class.in]="message.isVisible">
    <button class="close" (click)="removeMessage(message.id)">
      <span aria-hidden="true">×</span>
    </button>
    <div class="icon-content" *ngIf="message.message.icon" (click)="message.onClick.next(message.id);">
      <img [src]="message.message.icon" class="msg-icon"/>
    </div>
    <div class="msg-content" (click)="message.onClick.next(message.id);">
      <p class="msg-title">{{message.message.title}}</p>
      <p class="msg-text">{{message.message.message}}</p>
    </div>
  </div>
</div>
