@import "compass/css3";

$height: 5.6rem;
$width: 17rem;
$padding: .5rem;

.message-container {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: auto;

  right: 1rem;
  &.top {
    top: 1rem;
  }
  &.bottom {
    bottom: 1rem;
  }
}

.t-message {
  position: relative;
  padding: 0;
  margin-bottom: 5px;
  display: block;
  margin-top: - $height;
  height: $height;
  cursor: pointer;
  width: $width;
  background-color: rgba(#fff, 0.8);
  @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.26));
  @include border-radius(0.2rem);
  overflow: hidden;
  @include transition(all 300ms linear);
  @include opacity(0);
  &.info {
    background-color: rgba(#5bc0de, 0.8);
  }
  &.warn {
    background-color: rgba(#f0ad4e, 0.8);
  }
  &.error {
    background-color: rgba(#d9534f, 0.8);
  }
  &.success {
    background-color: rgba(#5cb85c, 0.8);
  }
}

.t-message.in {
  margin-top: 0;
  @include opacity(1);
}

.t-message {
  position: relative;
  .icon-content, .msg-content {
    float: left;
    margin: $padding;
    height: $height -(2*$padding);
    overflow-y: hidden;
  }
  .icon-content {
    background-color: #999;
    width: $height -(2*$padding);
    .msg-icon {
      width: 100%;
      @include border-radius(0.2rem);
    }
  }
  .msg-content {
    width: $width - $height - (2*$padding)- 2rem;
    overflow: hidden;
    p.msg-title, p.msg-text {
      width: 100%;
      overflow: hidden;
    }
    p.msg-title {
      font-weight: 500;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: .1rem;
    }
    p.msg-text {
      margin-bottom: .1rem;
      white-space: normal;
      font-size: 90%;
      text-overflow: ellipsis;
      color: #777;
    }
  }
}

button.close {
  padding: 0.2rem;
  cursor: pointer;
  border: 0;
  position: absolute;
  top: 0;
  right: 5px;
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
  &:hover {
    color: black;
  }
}
