<ul class="nav" [ngClass]="classMap" (click)="$event.preventDefault()">
  <li *ngFor="let tab of tabs" class="nav-item"
      [class.active]="tab.active" [class.disabled]="tab.disabled">
    <a href class="nav-link" [class.active]="tab.active"
       [class.disabled]="tab.disabled" (click)="tab.active = true">
      <span [innerHtml]="tab.heading"></span>
      <button aria-label="Close" class="close ml-2" type="button" *ngIf="tab.removable"
              (click)="$event.preventDefault(); removeTab(tab);">
        <span aria-hidden="true">×</span>
      </button>
    </a>
  </li>
</ul>
<div class="tab-content">
  <ng-content></ng-content>
</div>
